.bg-class{
	background-image: url(img1.jpg);
	background-size: cover;
	background-position: center center;
}
.img-style{
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.title-quiz{
	font-weight: bold;
	font-size: 1.7em;
	text-align: center;
	background-color: green;
}
h2{
	color: white;
}